<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>registro</display-name>
    <servlet-name>registro</servlet-name>
    <servlet-class>servlet.registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registro</servlet-name>
    <url-pattern>/registro</url-pattern>
  </servlet-mapping>
  <display-name>ABCDElogin2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>Controller.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>borraUsuario</display-name>
    <servlet-name>borraUsuario</servlet-name>
    <servlet-class>Model.borraUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borraUsuario</servlet-name>
    <url-pattern>/borraUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>muestraUsuarios</display-name>
    <servlet-name>muestraUsuarios</servlet-name>
    <servlet-class>Controller.muestraUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>muestraUsuarios</servlet-name>
    <url-pattern>/muestraUsuarios</url-pattern>
  </servlet-mapping>
</web-app>